################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/multi-tenant-frontend/.vs/multi-tenant-frontend/CopilotIndices/17.13.441.19478
/multi-tenant-frontend/.vs/multi-tenant-frontend/FileContentIndex
